:root {
    --azul-principal: #4047c6;
    --azul-secundario: #2a5ca0;
    --azul-claro: #e8f0fe;
    --branco: #ffffff;
    --cinza-claro: #f5f5f5;
  }


.lista{
  color: var(--azul-principal);
  font-size: 1.3rem;
}


.logoAluno{
  background-color: var(--azul-principal);
  width: 100%;
  padding: 50px;
  border-radius: 16px;
}



/* Plataformas */
.platforms {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: repeat(3);
    gap: 16px;
    margin-top: 48px;
  }
  
  .platform-link {
    background: var(--azul-principal);
    color: var(--branco);
    padding: 20px;
    border: 1px solid var(--cinza-claro);
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .platform-link:hover {
    background: var(--branco);
    color: black;
    border-color: var(--azul-secundario);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }