:root {
    --azul-principal: #4047c6;
    --azul-secundario: #2a5ca0;
    --azul-claro: #e8f0fe;
    --branco: #ffffff;
    --cinza-claro: #f5f5f5;
  }

.texto_historia{
    text-align: justify;
    color: black;
    font-size: 1.5rem;
}

.title_historia{
    font-size: 3rem;
    color: var(--azul-principal);
}

.container_historia{
    display: flex;
    flex-direction: column;
}

.testeHistoria{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.card_galeria{
    margin: 30px;
    border-radius: 16px;
    border: 4px var(--azul-secundario) solid;
}

.card_galeria img {
    width: 400px;
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.titulo_imagem{
    padding: 10px;
    color: var(--azul-principal);
}